@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-duration: 250ms;
}

* {
  @apply box-border;
  -webkit-tap-highlight-color: transparent;
}

svg,
img {
  -webkit-user-drag: none;
}

.container {
  @apply mx-auto px-4;
}

body {
  @apply bg-base;
}

* {
  --transition-duration: 250ms;
  --transition-naming-function: ease-in-out;
  transition: fill var(--transition-duration) var(--transition-naming-function),
              stroke var(--transition-duration) var(--transition-naming-function),
              background-color var(--transition-duration) var(--transition-naming-function),
              color var(--transition-duration) var(--transition-naming-function);
}
